<div class='card' style="margin-top: 60px">
  <div class='card-header'>
<h3>
  INDIA
  <small class="text-muted"> COVID19 DETAILS </small>
</h3>
</div>
<div class='card-body'>
  <div class="row">
    <div class="column">
      <img src="assets/covid.jpg"  style="width:100%">
    </div>
    <div class="column">
      <img src="assets/covid.jpg"  style="width:100%">
    </div>
    <div class="column">
      <img src="assets/covid.jpg"  style="width:100%">
    </div>
    <div class="column">
      <img src="assets/covid.jpg"  style="width:100%">
    </div>
  </div>
</div>
</div>

